<section  class="Footer_Section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center Footer_Logo">
                    <img src="assets/Images/Footer_Logo.jpg" alt="">
                </div>
                <div>
                    <p class="Footer_slogan">“India shining, service to mankind through organically grown foodstuffs & Ayurvedic products”</p>
                </div>
            </div>

            <div class="col-lg-4">
                <ul class="Footer_Links_List">
                    <li class="Footer_Links_Item"> <a> About us </a> </li>
                    <li class="Footer_Links_Item"> <a> Contact us </a> </li>
                    <li class="Footer_Links_Item"> <a> Product </a> </li>
                    <li class="Footer_Links_Item"> <a> Terms & Conditions </a> </li>
                    <li class="Footer_Links_Item"> <a> Privacy Policy </a> </li>
                    <!-- <li class="Footer_Links_Item"> <a> Home </a> </li> -->
                </ul>
            </div>

            <div class="col-lg-4">
                <div class="Toreach">
                    <h6 class="Branch_Heading">To Reach</h6>
                    <p class="Contact_mail mb-0"><strong><i class="fa fa-envelope-o" aria-hidden="true"></i></strong>vithu121997@gmail.com</p>
                    <p class="Contact_mail mb-0s"><strong><i class="fa fa-phone" aria-hidden="true"></i></strong>91+ 94432 23847</p>
                </div>
            </div>

            <div class="col-lg-4 col-4">
                <div class="Address_Section mt-4 mb-4">
                    <h6 class="Branch_Heading">Main Brranch</h6>
                    <p class="Brach_Address mb-2">
                        10, East Car Street,<br>
                        Tuticorin-2, Tamil Nadu,<br>
                        India.
                    </p>
                    <a class="Viewmap" href="https://www.google.co.in/maps"><i class="fa fa-map-marker" aria-hidden="true"></i> <span> View in map </span></a>
                </div>
            </div>

            <div class="col-lg-4 col-4">
                <div class="Address_Section mt-4 mb-4">
                    <h6 class="Branch_Heading">US Branch</h6>
                    <p class="Brach_Address mb-2">
                        10, East Car Street,<br>
                        Tuticorin-2, Tamil Nadu,<br>
                        India.
                    </p>
                    <a class="Viewmap" href="https://www.google.co.in/maps"><i class="fa fa-map-marker" aria-hidden="true"></i> <span> View in map </span></a>
                </div>
            </div>

            <div class="col-lg-4 col-4">
                <div class="Address_Section mt-4 mb-4">
                    <h6 class="Branch_Heading">Chennai Branch</h6>
                    <p class="Brach_Address mb-2">
                        10, East Car Street,<br>
                        Tuticorin-2, Tamil Nadu,<br>
                        India.
                    </p>
                    <a class="Viewmap" href="https://www.google.co.in/maps"><i class="fa fa-map-marker" aria-hidden="true"></i> <span> View in map </span></a>
                </div>
            </div>

            

            

            <!-- <div class="col-lg-12">
                <agm-map [latitude]='latitude' [longitude]='longitude'></agm-map>
            </div> -->

            <div class="col-lg-12 text-center">
                <p class="Copy_Right">Copyrights @ 2020 V2impex. All rights Reserved.</p>
            </div>
        </div>
    </div>
</section>